{% extends 'base.html' %}
{% block title %} Книги {% endblock %}

{% block content %}
<h1>{{ book.title }}</h1>
<img src="{{ book.image.url }}" style="width:370px;height:360px:">
<h3>Автор - {{ book.book_author }}</h3>
<h3>дата публикации - {{ book.pub_date }}</h3>
<h3>цена - {{ book.price }}</h3>
<hr>
<h2>{{ book.text_example|safe }}</h2>
<hr>
{% for chap in chapters %}
<a href="{% url 'forum:chapter_read' chap.pk %}">{{ chap.title }}</a>
{% endfor %}
{% if user.is_authenticated %}
<form method="POST">
    {% csrf_token %}    
    <textarea name="comment" required="" placeholder="Ваш комментарий" cols="30" rows="10"></textarea><br>
    <button type="submit">оставить комментарий</button>
</form>

    {% else %}
    <p>Войдите или зарегистрируйтесь чтобы оставлять комментарии</p>
    {% endif %}
{% if user.is_authenticated %}
  <form method="POST">
    {% csrf_token %}

    {% if post_is_liked %}
    <button type="submit" name="like" value="{{book.id}}" class="btn btn-info">Unlike</button>
    {% else %}
    <button type="submit" name="like" value="{{book.id}}" class="btn btn-info">Like</button>
    {% endif %}
  </form>
{% else %}
  <a class="btn btn-outline-info" href="">Log in to like this article!</a><br>
{% endif %}
<strong class="text-secondary">{{ book.number_of_likes }} Like{{ book.number_of_likes|pluralize }}</strong>
<hr>
<h1>Комментарии</h1>
<hr>
    {% for com in comments %}
<h3>{{com.com_author}}</h3><h5>{{com.com_date}}</h5>
<h2>{{com.com_text}}</h2>
<hr>
{% endfor %}
{% endblock %}
