{% extends 'base.html' %}
{% block title %} Книги {% endblock %}

{% block content %}
<div class="container" style="background-color:white; border-radius:1%; margin:2% 10% 2% 10%; box-shadow: 10px 10px 15px grey;">
<img src="{{ book.image.url }}" style=" margin:15px 10px 10px 10px;width:250px;height:350px; border-radius:10%; float:left">
    <br>
<div style=""><h3 style="font-weight:bold;">{{ book.title }}</h3>
<a style="font-weight:bold;font-size:24px" href="{% url 'forum:profile' book.post_author.pk %}">{{ book.post_author }}</a>
    <br>
    <form action="{% url 'forum:book_search' %}" method="get">
    <nobr>
        {% for tag in book.tags.all %}<button type="submit" class="button" name="search" value="{{ tag.name }}">{{tag.name}}/</button>{% endfor %}
    </nobr>
    </form>

<h3>дата публикации - {{ book.pub_date }}</h3>
<h3>цена - {{ book.price }}</h3>
</div>
<h2>{{ book.text_example|safe }}</h2>

{% for chap in chapters %}
<a href="{% url 'forum:read_chapter' chap.pk %}">{{ chap.title }}</a><br>
{% endfor %}
{% if user.is_authenticated %}
<form method="POST">
    {% csrf_token %}    
    <textarea name="comment" required="" placeholder="Ваш комментарий" cols="30" rows="10"></textarea><br>
    <button type="submit">оставить комментарий</button>
</form>

    {% else %}
    <p>Войдите или зарегистрируйтесь чтобы оставлять комментарии</p>
    {% endif %}
{% if user.is_authenticated %}
  <form method="POST">
    {% csrf_token %}

    {% if post_is_liked %}
    <button type="submit" name="like" value="{{book.id}}" class="btn btn-info">Unlike</button>
    {% else %}
    <button type="submit" name="like" value="{{book.id}}" class="btn btn-info">Like</button>
    {% endif %}
  </form>
{% else %}
  <a class="btn btn-outline-info" href="">Log in to like this article!</a><br>
{% endif %}
    <p>просмотры {{ book.views }}</p>
<strong class="text-secondary">{{ book.number_of_likes }} Like{{ book.number_of_likes|pluralize }}</strong>
</div>
<div style="width:200px">
<h1>Комментарии</h1>
<hr>
    {% for com in comments %}
    <div style="width:200px;white-space:pre-wrap">
<h3>{{com.com_author}}</h3><h5>{{com.com_date}}</h5>
<h2>{{com.com_text}}</h2>
</div>
        <hr>

{% endfor %}
</div>
    {% endblock %}
