{% extends 'base.html' %}
{% block title %} Книги {% endblock %}

{% block content %}
<div class="form-control" style="background-color:#f7f7f7;width:300px;height:60px;margin:20px 0px 0px 5px">
<form action="{% url 'forum:news_search' %}"  method="get">
  <input name="search" type="text" placeholder="Поиск..." style="height:40px">
  <button type="submit" class="btn btn-outline-primary" style="height:40px;margin-top:-4px">Найти</button>
</form>
    </div>
<a href="{% url 'forum:add_news'%}"><button>Добавить новость</button></a>
{% for new in news %}
<a href="{% url 'forum:news_detail' new.pk %}"><h1>{{ new.title }}</h1>
<img src="{{ new.image.url }}" style="width:170px;height:160px:"></a>
<h3>Автор - {{ new.author }}</h3>
<h3>дата публикации - {{ new.pub_date }}</h3>
<h3>likes - {{ new.likes }}</h3>
<hr>
{% endfor %}
{% endblock %}
